.resourceTable {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tableWrapper {
  height: 70vh;
  width: 90vw;
  border: 0.125rem solid #cccc;
  border-radius: 0.25rem;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.rangeWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em;
  width: 90%;
}

.renderThumb {
  height: 2rem;
  width: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.125rem 0.375rem #aaa;
}

.renderTrackWrap {
  height: 2.25rem;
  display: flex;
  width: 100%;
}

.renderTrack {
  height: 0.25rem;
  width: 100%;
  border-radius: 0.25rem;
  align-self: center;
}

.rangeOutput {
  margin-top: 2.5rem;
}
